<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <title>DimTsagk's Weather App</title>
</head>
<body>
    <h1>City Weather: {{ city }}</h1>
    <p>Temperature: {{ temperature }}°C</p>
    <p>Condition: {{ description }}</p>

    
    <form method="post">
        {% csrf_token %}
        <label for="city">Search the weather of a City:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Search Weather</button>
    </form>
</body>
</html>
